@media (min-width: 700px) {
  img {
    width: 100px;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
  }
  .sectionin {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
